body {
    margin: 0px;
    padding: 0px;
    font-size: 1.6;
    font-family: tahoma, arial, sans-serif;
    color:#000000;
    background-color: #ffffff;
}
ul {
    float:right;
    margin: 16px 16px 0px 0px;
    padding:0px;
    list-style: none;
}
li {
    float:left;
    margin-left: 3px;
}
a {
    border-radius: 10px 10px 0px 0px;    
}

#tool {
    background-color: #dae0d2;
}
li#actif {
    background-color: #333333;
}
#tool ul li a:hover {
    background-color: #333333;
}