body {
  margin:       0px;
  padding:      0px;
  font-family:  tahoma, arial, sans-serif;
  background:   url(../images/1741.png);
}

h1, h2, h3{
  clear: both;
  margin-left: 10px;
}
h4 {
  color: #8C8D91;
  margin-left: 20px;
}
p {
  clear: both;
  margin-left: 30px;
  margin-right: 30px;
  text-align: justify;
}
table, th, td {
  clear:    both;
  margin:   auto;
}
th {
  background-color:   #C4DCFF;
  color:            #000000;
}
th img {
  width: 40px;
}

form {
  margin-left: 50px;
}
label
{
  margin-left: 50px;
  display: block;
  width: 200px;
  float: left;
}
#ID {
  margin:       10px;
  width:        150px;
  border-radius:150px;
  float:        left;

}
#function, #address {
  float: left;
  margin-left: 10px;
  margin-right: 100px;

}
.logos{
  float:          right;
  margin :        auto;
  height:         60px;
  border-radius:  10px;
}

#all {
  width:    1024px;
  margin:   auto;
}
#asso, #etna {
  background:   url(../images/1741.png);
  color:grey;
  border-style:solid;
  border-color: grey white;
}
#main div {
    padding-top: 50px;
    padding-bottom: 50px;
}
#header, #main, #footer, #menu{
  background:       #eeeeee; 
  background-color: #ddd;
  background-image: linear-gradient(#E5E5E5, #CFCFCF);
  box-shadow:        -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
                     -1px 2px 20px rgba(255, 255, 255, 0.6) inset; 
}
#title2 {
  margin-left:  20px;
}
#tool {
  margin:     0;
  padding:    0;
  list-style: none;
  text-align: center;
  width:      100%;
  }
#tool ul {
  margin:     0;
  padding:    0;
  list-style: none;
  width:      100%;  
}
#tool li {
  background:       #eeeeee; 
  background-color: #ddd;
  background-image: linear-gradient(#E5E5E5, #CFCFCF);
  margin-bottom:    2px;
  box-shadow:       -1px 2px 5px 1px rgba(0, 0, 0, 0.7),
                    -1px 2px 20px rgba(255, 255, 255, 0.6) inset;
}
#tool a {
  display:          block;
  text-decoration:  none;
  color:            #fff;
  padding:          8px 0;
  font-family:      verdana;
  font-size:        1.2em;
  color:            black;
}
#tool ul li a {
  color:    white;
}
#tool li:hover {
   background: #A3A3A3;
}

#tool li:hover li {
  max-height: 15em;
}

#tool li li {
  max-height:   0;
  overflow:     hidden;
  transition:   all 2s;
  background:   #444;
  box-shadow:   none;
  border:       none;
  margin:       0;
}
ul {
  margin:     16px 16px 0px 0px;
  padding:    0px;
}
#title {
  margin-top:   20px;
  margin-right: 30px;
  float:        right;
}
#logo{
  margin:   15px;
  float:    left;
}
#header {
  width:          1024px;
  height:         130px;
  margin-top:     30px;
  margin-bottom:  30px;
}
#content_menu_main {
  clear:         both;
  float:         right;
  width:         1024px;
  height:        100%;
  margin-bottom: 10px;
}
#menu {
  width:    200px;
  height:   100px;
  position: fixed;
}
#tool {
  width:          200px;
  height:         80px;
  padding-bottom: 30px;
}
#main {
  width:  800px;
  height: 200%;
  float:  right;
  margin-bottom: 20px;
}
#footer {
  clear:        both;
  margin:       auto;
  width:        1024px;
  height:       130px;
}
#footer span {
  font-size: 0.7em;
}
#footer div {
  float:  left;
  margin: 30px;
}
#footer img {
  width: 50px;
}
#footer .logos {
  margin-left: 100px;
  height: 60px;
  width:  130px;
} 
#footer p {
  font-size: 10px;
}